# format: `${DOWNLOAD_BASE}/${VERSION_CODE}/${DOWNLOAD_SDK_APPLE_M}``
# example: https://nillion-releases.s3.eu-west-1.amazonaws.com/v2024-01-31-123456789/nillion-sdk-bins-x86_64-apple-darwin.dmg

ENV="local"

DOWNLOAD_BASE=""

DOWNLOAD_SDK_APPLE_M=""
DOWNLOAD_SDK_APPLE_INTEL=""
DOWNLOAD_SDK_LINUX_ARM=""
DOWNLOAD_SDK_LINUX_INTEL=""

DOWNLOAD_PYCLIENT_APPLE_M=""
DOWNLOAD_PYCLIENT_APPLE_INTEL=""
DOWNLOAD_PYCLIENT_LINUX_ARM=""
DOWNLOAD_PYCLIENT_LINUX_INTEL=""

DOWNLOAD_PYNADA=""